.card--table {
  margin-top: 3rem;
}

.row--table {
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
}

.table__data {
  flex: 1;
  font-size: 1.3rem;
  font-weight: 400;
}

.th {
  font-weight: 700;
}

.table__data--lg {
  flex: 3;
}
.table__data--md {
  flex: 2;
}

.table--link {
  text-decoration: none;
}

.table--link:hover {
  background-color: #eee;
}
